html {
  background-color: #fefffd;
}
.uk-border-dashed {
  border-bottom: 1px dashed #0d4b08;
}

.uk-border-solid {
  border-bottom: 1px solid #0d4b08;
}

.uk-line-height {
  line-height: 2.75;
}

.uk-line-height-1-8 {
  line-height: 1.8;
}

.uk-letter-spacing {
  letter-spacing: 1.6px;
}

.uk-width-fit {
  width: fit-content;
}

.uk-label-default {
  background-color: transparent;
  border: solid 1px #0d4b08;
  color: #0d4b08;
  padding: 4px 8px;
  width: fit-content !important;
  display: block;
  font-size: 12px;
}

.uk-text-white {
  color: #fff !important;
}

.uk-background-white {
  background-color: #fff !important;
}

.uk-header {
  border-bottom: solid 2px #0d4b08;
}

.uk-page-header {
  background-color: #f9fcf9;
}

.uk-position-relative {
  position: relative;
}

.uk-flex-gap {
  gap: 20px;
}

.uk-card-default {
  --uk-inverse: dark;
  background-color: #fff;
  color: #0d4b08;
  border: solid 1px #0d4b08;
}

.uk-card-center {
  margin-top: -50px;
  margin-bottom: 50px;
  border: solid 5px #0d4b08;
  z-index: 2;
}

@media (max-width: 768px) {
  .uk-card-center {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.uk-border-remove {
  border: none !important;
}

/* Contact Form 7 ラジオボタンの改行 */
span.wpcf7-list-item {
  display: block;
}

/* Contact Form 7 スピナー非表示 */
div.wpcf7 .wpcf7-spinner {
  display: none !important;
}
