html {
  background-color: #fefffd;
}
.uk-border-dashed {
  border-bottom: 1px dashed #0d4b08;
}

.uk-border-solid {
  border-bottom: 1px solid #0d4b08;
}

.uk-line-height {
  line-height: 2.75;
}

.uk-line-height-1-8 {
  line-height: 1.8;
}

.uk-letter-spacing {
  letter-spacing: 1.6px;
}

.uk-width-fit {
  width: fit-content;
}

.uk-label-default {
  background-color: transparent;
  border: solid 1px #0d4b08;
  color: #0d4b08;
  padding: 4px 8px;
  width: fit-content !important;
  display: block;
  font-size: 12px;
  margin: 20px 0 10px 0;
}

.uk-text-white {
  color: #fff !important;
}

.uk-background-white {
  background-color: #fff !important;
}

.uk-header {
  border-bottom: solid 2px #0d4b08;
}

.uk-page-header {
  background-color: #f9fcf9;
}

.uk-position-relative {
  position: relative;
}

.uk-position-top-right {
  top: -50px;
  right: 200px;
}

.uk-flex-gap {
  gap: 20px;
}
